legacy-peer-deps=true
fetch-retries=5
fetch-retry-mintimeout=20000
fetch-retry-maxtimeout=120000
network-timeout=300000
engine-strict=false
node-options=--max-old-space-size=4096
registry=https://registry.npmjs.org/ 